p, a, body{
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
}

html, body{
    overflow-x: hidden;
}

.card{
    background-color: transparent;
    overflow-y: hidden;
}

.card-header{
    background-color: #9bf2ca !important;
    border-bottom: 3px solid #9bf2ca;
    color: #005cb8;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.7;
    font-family: "Roboto Slab", serif;

}

.card-link{
    text-decoration: none;
    color: #fff !important;
}

.card-link + .card-link{
    margin-left: 0;
}

.card-body{
    background-color: #005cb8;
    overflow-x: hidden;
}

.card-body label{
    color: #fff;
}

.card-link>.card-body:hover{
    font-size: 16pt;
    transition: 0.1s linear;
}

.btn-outline-success{
    padding: 11px 27px 14px;
    color: #005cb8;
    border-radius: 30px;
    background: #9bf2ca;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 600;
    letter-spacing: 0px;
    border-color: #9bf2ca;
    transition: 0.1s linear;
    outline: none !important;
    border: none !important;
}

.btn-outline-success:focus{
    box-shadow: none !important;
}

.btn-outline-success:hover{
    color: #005cb8;
    background: #fff;
    border-color: #fff;
    transition: 0.1s linear;
}

.container{
    max-width: 1280px !important;
}

#gl-horisontal{
    background-color: #7fffd4;
    max-width: 456px;
    width: 456px;
    margin: 40px auto;
    height: 3px;
}

#auth-page{

    background-image: url('/images/body/dr background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.loader-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#zmmtg-root{
    background-color:transparent!important;
    position:relative!important;
}

.btn-link{
    color: #fff !important;
}

.navbar-collapse{
    flex-basis: 50% !important;
    flex-grow: 2;
    max-width: 50%;
}

.webinar-link{
    text-decoration: none;
    color: #fff !important;
    text-align: center;
}

.webinar-link:hover{
    text-decoration: none;
}

.webinar-day-active{
    text-decoration: none;
    color: #005cb8;
    font-size: 22pt;
    transition: 0.2s linear;
}

.webinar-day-active:hover{
    text-decoration: none;
    color: #fff;
    font-size: 22pt;
    transition: 0.2s linear;
    cursor: pointer;
}

.webinar-day-disabled{
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
    transition: 0.2s linear;
}

.webinar-day-disabled:hover{
    text-decoration: none;
    color: #005cb8;
    font-size: 22pt;
    transition: 0.2s linear;
    cursor: pointer;
}

.webinar-link-disabled{
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;

    transition: 0.2s linear;
}

.webinar-link-disabled div{
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;

    transition: 0.2s linear;
}

.webinar-link-active{
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;

    transition: 0.2s linear;
}

.webinar-link-active div{
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;

    transition: 0.2s linear;
}