p, a, body{
    font-family: "Roboto", sans-serif !important;
    font-size: 14pt;
}

html, body{
    overflow-x: hidden;
    padding-right: 0 !important;
}

.card{
    background-color: transparent;
    overflow-y: hidden;
    border: none !important;
}

.card-header{
    background-color: #fff !important;
    border-bottom: 3px solid #fff;
    color: #f6be07;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.7;
    font-family: "Roboto", serif !important;

}

.card-link{
    text-decoration: none;
    color: #fff !important;
}

.card-link + .card-link{
    margin-left: 0;
}

.card-body{
    background-color: $primaryGray;
    overflow-x: hidden;
}

.card-body label{
    color: #fff;
}

.card-link>.card-body:hover{
    font-size: 16pt;
    transition: 0.1s linear;
}

.btn-outline-success{
    padding: 11px 27px 14px;
    color: #fff;
    border-radius: 30px;
    background: $primaryYellow;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 600;
    letter-spacing: 0px;
    border-color: #8A8E91;
    transition: 0.1s linear;
    outline: none !important;
    border: none !important;
    max-height: 46px;
}

.btn-outline-success:focus{
    box-shadow: none !important;
}

.btn-outline-success:hover{
    color: #f6be07;
    background: #fff;
    border-color: #fff;
    transition: 0.1s linear;
}

.container{
    max-width: 1280px !important;
}

#gl-horisontal{
    width: 100%;
    max-width: 15%;
    border-top: 2px solid rgba(138,142,145,1);
}

#auth-page{

    background-image: url('/images/body/dr background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 700px;

    display: flex;
    align-items: stretch;
    justify-content: center;
}

.loader-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #f6be07; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
.objectdata{
    min-height: 1200px;
}
.mh-100{
    min-height: 1200px;
}

.interactivity-text{
    display: none;
    color: #fff;
}

.round{
    border-radius: 50px !important;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.boxes{
    display: flex;
    flex-direction: row;
}

.box{
    width: 18% !important;
    margin: 5% auto;
    border-radius: 25px;
    text-align: center;
    min-height: 250px !important;
}

.box>.card-body{
    border-radius: 25px;
    background: #ffffff !important;
    color: #8e8e8e;
    line-height: 25px;
}

.exibition-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exibition-box{
    width: 30% !important;
    min-width: 300px !important;
    margin: 20px auto !important;
    text-align: center;
    min-height: 400px !important;
}

.exibition-box>.card-body{
    background: #ffffff !important;
    color: #8e8e8e;
    line-height: 25px;
    height: 100%;
}

.exibition-inner{
    background: $primaryYellow;
    height: 100%;
}

.noborder{
    border: none !important;
}

@media screen and (max-width:992px){
    .objectdata{
        min-height: auto !important;
    }

    .mh-100{
        min-height: 400px;
        overflow-y: hidden;
    }
    .interactivity-text{
        display: block;
    }
    
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#zmmtg-root{
    background-color:transparent!important;
    position:relative!important;
}

.btn-link{
    color: #fff !important;
}

.navbar-collapse{
    flex-basis: 50% !important;
    flex-grow: 2;
    max-width: 50%;
}

.webinar-link{
    text-decoration: none;
    color: #fff !important;
    text-align: center;
}

.webinar-link:hover{
    text-decoration: none;
}

.webinar-day-active{
    text-decoration: none;
    color: #f6be07;
    font-size: 22pt;
    transition: 0.2s linear;
}

.webinar-day-active:hover{
    text-decoration: none;
    color: #fff;
    font-size: 22pt;
    transition: 0.2s linear;
    cursor: pointer;
}

.webinar-day-disabled{
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
    transition: 0.2s linear;
}

.webinar-day-disabled:hover{
    text-decoration: none;
    color: #005cb8;
    font-size: 22pt;
    transition: 0.2s linear;
    cursor: pointer;
}

.webinar-link-disabled{
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;

    transition: 0.2s linear;
}

.webinar-link-disabled div{
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;

    transition: 0.2s linear;
}

.webinar-link-active{
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;

    transition: 0.2s linear;
}

.webinar-link-active div{
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;

    transition: 0.2s linear;
}

.back-button-container{
    max-width: 50px;
    position: absolute;
    top: 100px;
    left: 50px;
    width: 50px;
}

.back-button-container:hover{
    -webkit-animation-name: spin;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

#back-webinar img{
    width: 100%;
}

.booth-background-image{
    width: 1480px;
    height: 100%;
    margin: 0 auto;
    background-size:100%; 
    background-position: center;
    background-repeat:no-repeat
}

.booth-btn{
    background-image: url('/images/body/button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    transition: 0.1s linear;
    //background-color: red;
}

.booth-btn:hover{
    background-size: 50px;
    transition: 0.1s linear;
}

.modal-dialog{
    max-width: 900px !important;
}

.booth-type-3, .booth-type-2, .booth-type-1{
    position: absolute;
    top: 0;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1600px) and (min-width: 1200px){
    .booth-background-image{
        width: 992px;
        height: 100%;
    }

    //Type 1 booth css
    .booth-type-1>.booth-event-0{
        // top: 449px !important;
        // left: 829px !important;
        // width: 87px !important;
        // height: 277px !important;
        top: 482px !important;
        left: 829px !important;
        width: 87px !important;
        height: 277px !important;
    }

    
    .booth-type-1>.booth-event-1{
        // top: 399px !important;
        // left: 660px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 433px !important;
        left: 660px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-1>.booth-event-2{
        // top: 164px !important;
        // left: 420px !important;
        // width: 155px !important;
        // height: 87px !important;
        top: 198px !important;
        left: 420px !important;
        width: 155px !important;
        height: 87px !important;
    }   

    
    .booth-type-1>.booth-event-3{
        // top: 229px !important;
        // left: 402px !important;
        // width: 188px !important;
        // height: 99px !important;
        top: 265px !important;
        left: 402px !important;
        width: 188px !important;
        height: 99px !important;
    }   

    
    .booth-type-1>.booth-event-4{
        // top: 164px !important;
        // left: 310px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 204px !important;
        left: 310px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-1>.booth-event-5{
        // top: -103px !important;
        // left: 110px !important;
        // width: 70px !important;
        // height: 286px !important;
        top: -67px !important;
        left: 110px !important;
        width: 70px !important;
        height: 286px !important;
    }
    //Type 2 Both css
    .booth-type-2>.booth-event-0{
        // top: 490px !important;
        // left: 807px !important;
        // width: 135px !important;
        // height: 277px !important;
        top: 525px !important;
        left: 807px !important;
        width: 135px !important;
        height: 277px !important;
    }

    
    .booth-type-2>.booth-event-1{
        // top: 377px !important;
        // left: 649px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 410px !important;
        left: 649px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-2>.booth-event-2{
        // top: 184px !important;
        // left: 438px !important;
        // width: 116px !important;
        // height: 68px !important;
        top: 217px !important;
        left: 438px !important;
        width: 116px !important;
        height: 68px !important;
    }   

    
    .booth-type-2>.booth-event-3{
        // top: 269px !important;
        // left: 413px !important;
        // width: 168px !important;
        // height: 70px !important;
        top: 301px !important;
        left: 413px !important;
        width: 168px !important;
        height: 70px !important;
    }   

    
    .booth-type-2>.booth-event-4{
        // top: 201px !important;
        // left: 314px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 230px !important;
        left: 314px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-2>.booth-event-5{
        // top: -9px !important;
        // left: 47px !important;
        // width: 137px !important;
        // height: 286px !important;
        top: 22px !important;
        left: 47px !important;
        width: 137px !important;
        height: 286px !important;
    }
    
    //Type 3 Booth css
    .booth-type-3>.booth-event-0{
        // top: 449px !important;
        // left: 829px !important;
        // width: 87px !important;
        // height: 277px !important;
        top: 500px !important;
        left: 800px !important;
        width: 87px !important;
        height: 277px !important;
    }

    
    .booth-type-3>.booth-event-1{
        // top: 399px !important;
        // left: 660px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 345px !important;
        left: 680px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-3>.booth-event-2{
        top: 164px !important;
        left: 420px !important;
        width: 155px !important;
        height: 87px !important;
    }   

    
    .booth-type-3>.booth-event-3{
        // top: 229px !important;
        // left: 402px !important;
        // width: 188px !important;
        // height: 99px !important;
        top: 264px !important;
        left: 402px !important;
        width: 188px !important;
        height: 99px !important;
    }   

    
    .booth-type-3>.booth-event-4{
        // top: 164px !important;
        // left: 310px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 120px !important;
        left: 292px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-3>.booth-event-5{
        // top: -103px !important;
        // left: 110px !important;
        // width: 70px !important;
        // height: 286px !important;
        top: -50px !important;
        left: 115px !important;
        width: 70px !important;
        height: 286px !important;
    } 
}

@media only screen and (max-width: 1200px) and (min-width: 992px){
    .booth-background-image{
        width: 768px;
        height: 100%;
    }

    //booth type 1
    .booth-type-1>.booth-event-0{
        // top: 475px !important;
        // left: 643px !important;
        // width: 67px !important;
        // height: 223px !important;
        top: 510px !important;
        left: 643px !important;
        width: 67px !important;
        height: 223px !important;
    }

    
    .booth-type-1>.booth-event-1{
        // top: 423px !important;
        // left: 510px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 462px !important;
        left: 510px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-1>.booth-event-2{
        // top: 239px !important;
        // left: 324px !important;
        // width: 122px !important;
        // height: 68px !important;
        top: 273px !important;
        left: 324px !important;
        width: 122px !important;
        height: 68px !important;
    }   

    
    .booth-type-1>.booth-event-3{
        // top: 290px !important;
        // left: 310px !important;
        // width: 147px !important;
        // height: 77px !important;
        top: 324px !important;
        left: 310px !important;
        width: 147px !important;
        height: 77px !important;
    }   

    
    .booth-type-1>.booth-event-4{
        // top: 239px !important;
        // left: 235px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 273px !important;
        left: 235px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-1>.booth-event-5{
        // top: 25px !important;
        // left: 83px !important;
        // width: 55px !important;
        // height: 218px !important;
        top: 60px !important;
        left: 83px !important;
        width: 55px !important;
        height: 218px !important;
    }

    //booth type 2
    .booth-type-2>.booth-event-0{
        // top: 516px !important;
        // left: 625px !important;
        // width: 105px !important;
        // height: 203px !important;
        top: 550px !important;
        left: 625px !important;
        width: 105px !important;
        height: 203px !important;
    }

    
    .booth-type-2>.booth-event-1{
        // top: 430px !important;
        // left: 500px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 463px !important;
        left: 500px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-2>.booth-event-2{
        // top: 276px !important;
        // left: 338px !important;
        // width: 91px !important;
        // height: 50px !important;
        top: 310px !important;
        left: 338px !important;
        width: 91px !important;
        height: 50px !important;
    }   

    
    .booth-type-2>.booth-event-3{
        // top: 344px !important;
        // left: 320px !important;
        // width: 131px !important;
        // height: 55px !important;
        top: 376px !important;
        left: 320px !important;
        width: 131px !important;
        height: 55px !important;
    }   

    
    .booth-type-2>.booth-event-4{
        // top: 294px !important;
        // left: 237px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 317px !important;
        left: 237px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-2>.booth-event-5{
        // top: 120px !important;
        // left: 37px !important;
        // width: 106px !important;
        // height: 210px !important;
        top: 155px !important;
        left: 37px !important;
        width: 106px !important;
        height: 210px !important;
    }

    //booth type 3
    .booth-type-3>.booth-event-0{
        // top: 475px !important;
        // left: 643px !important;
        // width: 67px !important;
        // height: 223px !important;
        top: 520px !important;
        left: 618px !important;
        width: 67px !important;
        height: 223px !important;
    }

    
    .booth-type-3>.booth-event-1{
        // top: 423px !important;
        // left: 510px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 390px !important;
        left: 522px !important;
        width: 30px !important;
        height: 42px !important;
    }

    
    .booth-type-3>.booth-event-2{
        // top: 239px !important;
        // left: 324px !important;
        // width: 122px !important;
        // height: 68px !important;
        top: 249px !important;
        left: 325px !important;
        width: 122px !important;
        height: 68px !important;
    }   

    
    .booth-type-3>.booth-event-3{
        // top: 290px !important;
        // left: 310px !important;
        // width: 147px !important;
        // height: 77px !important;
        top: 324px !important;
        left: 312px !important;
        width: 147px !important;
        height: 77px !important;
    }   

    
    .booth-type-3>.booth-event-4{
        // top: 239px !important;
        // left: 235px !important;
        // width: 30px !important;
        // height: 42px !important;
        top: 204px !important;
        left: 222px !important;
        width: 30px !important;
        height: 42px !important;
    }   

    
    .booth-type-3>.booth-event-5{
        // top: 25px !important;
        // left: 83px !important;
        // width: 55px !important;
        // height: 218px !important;
        top: 77px !important;
        left: 89px !important;
        width: 55px !important;
        height: 218px !important;
    }   
}

@media only screen and (max-width: 992px){
    .booth-background-image{
        display: none;
    }
}