footer{
    background-image: url('/images/footer/meetting.jpg');
    padding: 80px 0px 0px 0px;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.sub-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

footer .sub-title{
    font-size: 32px !important;
    text-transform: none;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: color 200ms;
}

footer .sub-title p{
    font-size: 32px !important;
    text-align: center;
    color: $primaryGray;
}

footer .title{
    font-size: 40px !important;
    text-transform: none;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: color 200ms;
    line-height: 48px;
}

footer .title p{
    font-size: 40px !important;
    text-align: center;
    color: $primaryYellow;
}

.footer-container{
    display: flex;
    flex-direction: column;
    max-width: 75% !important;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.ft-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.orange-round{
    width: 222px;
    height: 121px;
    background: $primaryYellow;
    border-radius: 25px;
    margin: 30px 2%;
}

.orange-round img{
    max-width: 100% !important;
}

.credit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: $secondaryGray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.credit-text-container{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.credit-text-container p{
    font-family: "Open Sans", Arial ,sans-serif !important;
    font-size: 14px;
    color:#ffffff;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0;
}

.credit-text-container a{
    color: $primaryYellow;
    text-decoration: none;
    font-size: 14px;
}